body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.logo {
    background-color: antiquewhite;
    padding: 10px;
}

.headerContainer {
    background-color: aqua;
}

.sidebarContainer {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBlanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.addBook {
    padding: 10px;
    margin: 10px;
}

.contentContainer {
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    height: 200px;
    gap: 10px;
    padding: 10px;
}

.bookCard {
    display: flex;
    justify-content: center;
    background-color: brown;
    align-items: center;
}